@model List<ModelUsuario>
@{
    //int contador = 0;
    string data = "";
    foreach(var item in Model)
    {
        data = item.ToJson();
        break;
    }
    ViewData["Title"] = "Estudiantes";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Xtreme lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Xtreme admin lite design, Xtreme admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Xtreme Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"]</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        $(document).ready(function ($) {
            //var ajax_data =
            //    [
            //        { identificacion: "11110000", Nombre: "Carlos", Apellidos: "Pereira", FechaNacimiento: "01/03/2000" },
            //        { identificacion: '55550000', Nombre: "Maria", Apellidos: "Martinez", FechaNacimiento: "01/03/2000" },
            //    ]

            var ajax_data =
                [
                    @{ 
                        string[] temp = data.Split(',');
                    }
                    { identificacion: "11110000", Nombre: "Carlos", Apellidos: "Pereira", FechaNacimiento: "01/03/2000" },
                    { identificacion: '@temp[0]', Nombre: "@temp[1]", Apellidos: "@temp[2]", FechaNacimiento: "@temp[3]" },
                ]

            var random_id = function () {
                var id_num = Math.random().toString(9).substr(2, 3);
                var id_str = Math.random().toString(36).substr(2);

                return id_num + id_str;
            }

            var tbl = '';
            tbl += '<table class="table table-striped">'

            //--->create table header > start
            tbl += '<thead>';
            tbl += '<tr>';
            tbl += '<th>Identificacion</th>';
            tbl += '<th>Nombre</th>';
            tbl += '<th>Apellidos</th>';
            tbl += '<th>FechaNacimiento</th>';
            tbl += '<th>Options</th>';
            tbl += '</tr>';
            tbl += '</thead>';
            //--->create table header > end


            //--->create table body > start
            tbl += '<tbody>';

            //--->create table body rows > start
            $.each(ajax_data, function (index, val) {
                //you can replace with your database row id
                var row_id = random_id();

                //loop through ajax row data
                tbl += '<tr row_id="' + row_id + '">';
                tbl += '<td ><div class="row_data" edit_type="click" col_name="identificacion">' + val['identificacion'] + '</div></td>';
                tbl += '<td ><div class="row_data" edit_type="click" col_name="Nombre">' + val['Nombre'] + '</div></td>';
                tbl += '<td ><div class="row_data" edit_type="click" col_name="Apellidos">' + val['Apellidos'] + '</div></td>';
                tbl += '<td ><div class="row_data" edit_type="click" col_name="FechaNacimiento">' + val['FechaNacimiento'] + '</div></td>';

                //--->edit options > start
                tbl += '<td>';

                tbl += '<span class="btn_edit" > <a href="#" class="btn btn-link " row_id="' + row_id + '" > Editar</a> </span>';

                //only show this button if edit button is clicked
                tbl += '<span class="btn_save"> <a href="#" class="btn btn-link"  row_id="' + row_id + '"> Guardar</a> | </span>';
                tbl += '<span class="btn_cancel"> <a href="#" class="btn btn-link" row_id="' + row_id + '"> Cancelar</a> | </span>';

                tbl += '</td>';
                //--->edit options > end

                tbl += '</tr>';
            });

            //--->create table body rows > end

            tbl += '</tbody>';
            //--->create table body > end

            tbl += '</table>'

            $(document).find('.tbl_user_data').html(tbl);

            $(document).find('.btn_save').hide();
            $(document).find('.btn_cancel').hide();

            $(document).on('click', '.row_data', function (event) {
                event.preventDefault();

                if ($(this).attr('edit_type') == 'button') {
                    return false;
                }

                //make div editable
                $(this).closest('div').attr('contenteditable', 'true');
                //add bg css
                $(this).addClass('bg-warning').css('padding', '5px');

                $(this).focus();
            })
            //--->make dSplitlitlitiv editable > end

            //--->save single field data > start
            $(document).on('focusout', '.row_data', function (event) {
                event.preventDefault();

                if ($(this).attr('edit_type') == 'button') {
                    return false;
                }

                var row_id = $(this).closest('tr').attr('row_id');

                var row_div = $(this)
                    .removeClass('bg-warning') //add bg css
                    .css('padding', '')

                var col_name = row_div.attr('col_name');
                var col_val = row_div.html();

                var arr = {};
                arr[col_name] = col_val;

                //use the "arr"	object for your ajax call
                $.extend(arr, { row_id: row_id });

                //out put to show
                $('.post_msg').html('<pre class="bg-success">' + JSON.stringify(arr, null, 2) + '</pre>');

            })
            //--->save single field data > end

            //--->button > edit > start
            $(document).on('click', '.btn_edit', function (event) {
                event.preventDefault();
                var tbl_row = $(this).closest('tr');

                var row_id = tbl_row.attr('row_id');

                tbl_row.find('.btn_save').show();
                tbl_row.find('.btn_cancel').show();

                //hide edit button
                tbl_row.find('.btn_edit').hide();

                //make the whole row editable
                tbl_row.find('.row_data')
                    .attr('contenteditable', 'true')
                    .attr('edit_type', 'button')
                    .addClass('bg-warning')
                    .css('padding', '3px')

                //--->add the original entry > start
                tbl_row.find('.row_data').each(function (index, val) {
                    //this will help in case user decided to click on cancel button
                    $(this).attr('original_entry', $(this).html());
                });
                //--->add the original entry > end

            });
            //--->button > edit > end

            //--->button > cancel > start
            $(document).on('click', '.btn_cancel', function (event) {
                event.preventDefault();

                var tbl_row = $(this).closest('tr');

                var row_id = tbl_row.attr('row_id');

                //hide save and cacel buttons
                tbl_row.find('.btn_save').hide();
                tbl_row.find('.btn_cancel').hide();

                //show edit button
                tbl_row.find('.btn_edit').show();

                //make the whole row editable
                tbl_row.find('.row_data')
                    .attr('edit_type', 'click')
                    .removeClass('bg-warning')
                    .css('padding', '')

                tbl_row.find('.row_data').each(function (index, val) {
                    $(this).html($(this).attr('original_entry'));
                });
            });
            //--->button > cancel > end

            //--->save whole row entery > start
            $(document).on('click', '.btn_save', function (event) {
                event.preventDefault();
                var tbl_row = $(this).closest('tr');

                var row_id = tbl_row.attr('row_id');


                //hide save and cacel buttons
                tbl_row.find('.btn_save').hide();
                tbl_row.find('.btn_cancel').hide();

                //show edit button
                tbl_row.find('.btn_edit').show();


                //make the whole row editable
                tbl_row.find('.row_data')
                    .attr('edit_type', 'click')
                    .removeClass('bg-warning')
                    .css('padding', '')

                //--->get row data > start
                var arr = {};
                tbl_row.find('.row_data').each(function (index, val) {
                    var col_name = $(this).attr('col_name');
                    var col_val = $(this).html();
                    arr[col_name] = col_val;
                });
                //--->get row data > end

                //use the "arr"	object for your ajax call
                $.extend(arr, { row_id: row_id });

                //out put to show
                $('.post_msg').html('<pre class="bg-success">' + JSON.stringify(arr, null, 2) + '</pre>')


            });
            //--->save whole row entery > end
        });
    </script>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic">
                                    <img src="../../assets/images/users/1.jpg" alt="users"
                                         class="rounded-circle" width="40" />
                                </div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="#" class="" id="Userdd" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium">
                                            Carlos Pereira <i class="fa fa-angle-down"></i>
                                        </h5>
                                        <span class="op-5 user-email">carlos@gmail.com</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">
                                            <i class="fa fa-power-off m-r-5 m-l-5"></i> Cerrar Sesion
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Inicio</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Estudiantes" asp-action="Estudiantes" aria-expanded="false">
                                <i class="mdi mdi-face"></i><span class="hide-menu">Estudiantes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Profesores" asp-action="Profesores" aria-expanded="false">
                                <i class="mdi mdi-account-settings"></i><span class="hide-menu">Profesores</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Cursos" asp-action="Cursos" aria-expanded="false">
                                <i class="mdi mdi-file"></i><span class="hide-menu">Cursos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Carreras" asp-action="Carreras" aria-expanded="false">
                                <i class="mdi mdi-settings"></i><span class="hide-menu">Carreras</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Periodos" asp-action="Periodos" aria-expanded="false">
                                <i class="mdi mdi-calendar"></i><span class="hide-menu">Periodos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Horarios" asp-action="Horarios" aria-expanded="false">
                                <i class="mdi mdi-clock"></i><span class="hide-menu">Horarios</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Grupos" asp-action="Grupos" aria-expanded="false">
                                <i class="mdi mdi-group"></i><span class="hide-menu">Grupos</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Mantenimiento de Estudiantes</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Estudiantes</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="text-end upgrade-btn">
                            <a href="#" class="btn btn-success text-white">Nuevo Estudiante</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Estudiantes</h4>
                                <h6 class="card-subtitle">
                                    Se muestra la tabla de los estudiantes
                                </h6>
                            </div>
                            <div class="table-responsive">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><b> Demo </b> </div>

                                    <div class="panel-body">

                                        <div class="tbl_user_data"></div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                Todos los derechos reservados. Sistema de Matricula.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../dist/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.js"></script>
    <script src="~/js/site.js"></script>
</body>