@model Grupos
@{
    ViewData["Title"] = "Registro Grupos";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Xtreme lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Xtreme admin lite design, Xtreme admin lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="Xtreme Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"]</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                            <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic">
                                    <img src="../../assets/images/users/1.jpg" alt="users"
                                         class="rounded-circle" width="40" />
                                </div>
                                <div class="user-content hide-menu m-l-10">
                                    <a href="#" class="" id="Userdd" role="button"
                                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <h5 class="m-b-0 user-name font-medium">
                                            Carlos Pereira <i class="fa fa-angle-down"></i>
                                        </h5>
                                        <span class="op-5 user-email">carlos@gmail.com</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="Userdd">
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="javascript:void(0)">
                                            <i class="fa fa-power-off m-r-5 m-l-5"></i> Cerrar Sesion
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- End User Profile-->
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Home" asp-action="Index" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Inicio</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Estudiantes" asp-action="Estudiantes" aria-expanded="false">
                                <i class="mdi mdi-face"></i><span class="hide-menu">Estudiantes</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Profesores" asp-action="Profesores" aria-expanded="false">
                                <i class="mdi mdi-account-settings"></i><span class="hide-menu">Profesores</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Cursos" asp-action="Cursos" aria-expanded="false">
                                <i class="mdi mdi-file"></i><span class="hide-menu">Cursos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Carreras" asp-action="Carreras" aria-expanded="false">
                                <i class="mdi mdi-settings"></i><span class="hide-menu">Carreras</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Periodos" asp-action="Periodos" aria-expanded="false">
                                <i class="mdi mdi-calendar"></i><span class="hide-menu">Periodos</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Horarios" asp-action="Horarios" aria-expanded="false">
                                <i class="mdi mdi-clock"></i><span class="hide-menu">Horarios</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link"
                               asp-controller="Grupos" asp-action="Grupos" aria-expanded="false">
                                <i class="mdi mdi-group"></i><span class="hide-menu">Grupos</span>
                            </a>
                        </li>
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row align-items-center">
                    <div class="col-5">
                        <h4 class="page-title">Mantenimiento de Grupos</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Grupos</li>
                                    <li class="breadcrumb-item active" aria-current="page">Nuevo Grupos</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Mantenimiento Profesores -->
                <div class="col-lg-8 col-xlg-9 col-md-7">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal form-material mx-2" asp-controller="Grupos" asp-action="Crear">
                                <div class="form-group">
                                    <label class="col-md-12">Numero</label>
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control form-control-line" } })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Nombre Profesor</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.NombreProfesor, new SelectList(ViewBag.profesores), new { @class = "form-control form-control-line" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Nombre Curso</label>
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.nombreCurso, new SelectList(ViewBag.cursos), new { @class = "form-control form-control-line" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Horario</label>
                                    @Html.DropDownListFor(model => model.Horario, new SelectList(ViewBag.horarios), new { @class = "form-control form-control-line" })
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Periodo</label>
                                    @Html.DropDownListFor(model => model.Periodo, new SelectList(ViewBag.periodos), new { @class = "form-control form-control-line" })
                                </div>
                                @if (ViewBag.Error != null)
                                {
                                    <div class="alert alert-info alert-danger">
                                        <a href="#" class="alert-link">@ViewBag.error</a>
                                    </div>
                                }

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="submit" value="Registrar Grupo" class="btn btn-success text-white" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Container fluid  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->
                <footer class="footer text-center">
                    Todos los derechos reservados. Sistema de Matricula.
                </footer>
                <!-- ============================================================== -->
                <!-- End footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Page wrapper  -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="../../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../../dist/js/app-style-switcher.js"></script>
        <!--Wave Effects -->
        <script src="../../dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="../../dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="../../dist/js/custom.js"></script>
        <script src="~/js/site.js"></script>
</body>